<!-- PÁGINA DE PERFIL -->
<ion-content>
  <div class="fundo-lindo">
    <!-- BOTÃO VOLTAR -->
      <div class="div-back-button">
         <ion-icon name="arrow-back" class="back-button" mode="ios" (click)="voltar()"></ion-icon>
        </div>
        <!-- FOTO DE PERFIL -->
    <div>      
      <p class="foto-margin"></p>
      <img class="foto-perfil" (click)="editarPerfil()" src="https://scontent.fcgh9-1.fna.fbcdn.net/v/t1.0-1/c0.0.160.160a/p160x160/12373219_786555211471043_3463090211446988892_n.jpg?_nc_cat=109&_nc_oc=AQkSjltacawEuCAB9KxkTP2hl_7ipjzXgtskQmcJ5Ssx1W5QKTQplHjx-bKpGp2akF8&_nc_ht=scontent.fcgh9-1.fna&oh=2c5f9b095faeba1fd1462e8a0188c137&oe=5DA12392">
    </div>
  </div>
  <!-- DADOS DO USUÁRIO -->
  <div class="dados center" (click)="editarPerfil()">

    <!-- NOME -->
    <ion-label color="secondary" class="bold nome-perfil">
      Caleb Marins
    </ion-label>

    <!-- EMAIL -->
    <p class="no-margin">
    <ion-label color="primary email-perfil">
      caleb.marins@gmail.com
    </ion-label>
  </p>
  </div>

  <!-- DIVIDER TOP -->
  <div class="divider mg-top-10">
  </div>
  
  <!-- CARD DE REDIRECIONAMENTO PARA SALAS DE AULA -->
  <div class="padding-left-right-20 mg-top-20">
  <ion-card (click)="salas()">
    <img src="../../../assets/perfil/salas_editadas_2.png">
  </ion-card>
</div>

  <!-- CARD DE REDIRECIONAMENTO PARA ALUNOS -->
  <div class="padding-left-right-20 mg-top-30">
      <ion-card (click)="alunos()">
        <img src="../../../assets/perfil/alunos_editado_1.png">
      </ion-card>
    </div>
</ion-content>

<!-- FOOTER PARA LOGOUT -->
<ion-footer>
  <ion-item tappable routerDirection="forward" (click)="signOut()" class="roxo bold">
    <ion-icon name="log-out" slot="start" color="secondary"></ion-icon>
    Logout
  </ion-item>
</ion-footer>