<!-- ADICIONAR / EDITAR ALUNOS PAGE -->
<ion-header>
    <ion-toolbar color="light" mode="ios" class="titulo-pages">
        <ion-button icon-only slot="start" class="profile-button" color="light" (click)="voltar()" mode="ios">
          <ion-icon name="arrow-back" color="secondary" mode="ios"></ion-icon>
        </ion-button>      
      <ion-title class="titulo-pages roxo">Adicionar Aluno</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- ADICIONANDO ALUNO -->
<ion-content padding>
  <!-- PRIMEIRO NOME DO ALUNO -->
  <ion-label class="bold titulo-pages" color="primary">Digite aqui o nome do aluno:</ion-label>
  <ion-item class="mg-top-10">
    <ion-input type="text" [(ngModel)]="aluno.nome" placeholder="Nome do aluno" color="secondary"></ion-input>
  </ion-item>

  <!-- SOBRENOME DO ALUNO -->
  <p class="mg-top-20">
    <ion-label class="bold titulo-pages" color="primary">Digite aqui o sobrenome do aluno:</ion-label>
    <ion-item class="mg-top-10">
      <ion-input type="text" [(ngModel)]="aluno.sobrenome" placeholder="Sobrenome do aluno" color="secondary">
      </ion-input>
    </ion-item>
  </p>

  <!-- INICIAL DO ALUNO -->
  <p class="mg-top-20">
    <ion-label class="bold titulo-pages" color="primary">Digite aqui a inicial do aluno:</ion-label>
    <ion-item class="mg-top-10">
      <ion-input type="text" [(ngModel)]="aluno.pesquisa" placeholder="Inicial do aluno" color="secondary">
      </ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="duvidaInicial()">
          <ion-icon name="help-circle" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </p>
  <!-- UPLOAD DE IMAGEM DO ALUNO -->
  <p class="mg-top-20">
    <ion-label class="bold titulo-pages" color="primary">Escolha uma foto do(a) aluno(a)</ion-label>
    <ion-item class="mg-top-10">
      <ion-label color="primary">Progresso do Upload: {{uploadPercent | async}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="abrirGaleria()">
          <ion-icon name="document" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-input type="url" [(ngModel)]="aluno.picture" color="secondary">{{downloadUrl | async}}</ion-input>
  </p>
  
  <!-- BOTÃO DE SALVAR -->
  <div class="padding-left-right-20 mg-top-20">
    <div class="btn-salvar center" (click)="salvarAluno()">
      <ion-icon name="save"></ion-icon>
      SALVAR ALTERAÇÕES
    </div>
  </div>
  <!-- IMAGEM UPLOADADA E QUE ESTÁ NO STORAGE -->
  <img class="mg-top-20" [src]="downloadUrl | async"  *ngIf="downloadUrl | async">
</ion-content>