// CORES DE FONTE TITLE ATIVIDADE
.atividade-header-card{
    background-color: #682189;
    color:#fff;
}

// FORMATAÇÃO DE ESPAÇAMENTO DE TAMANHO DE FONTE
.formatacao-atividade-title-card{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:113%;
}