// CORES DE FONTE TITLE ATIVIDADE
.atividade-header-card{
    background-color: #682189;
    color:#fff;
}

// FORMATAÇÃO DE ESPAÇAMENTO DE TAMANHO DE FONTE
.formatacao-atividade-title-card{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:103%;
}

//BOTÃO DE DUVIDA
.sla{
    display: block;
    margin-left: 90%;
    margin-right: auto;
}

//FORMATAÇÃO DA IMAGEM DE PERFIL DOS ALUNOS - POSICIONANDO NO CENTRO
.avatar-alunos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-color: #FCB018;
}

//FORMATAÇÃO DO NOME E SOBRENOMEC DO ALUNO
.nome-aluno{
    color:#FCB018;
    font-size: 18px;
    font-weight: 550;
}
.sobrenome-aluno{
    color: #682189;
    font-size: 15px;
}