// CORES DE FONTE TITLE ATIVIDADE
.atividade-header-card{
    background-color: #682189;
    color:#fff;
}

// FORMATAÇÃO DE ESPAÇAMENTO DE TAMANHO DE FONTE
.formatacao-atividade-title-card{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:103%;
}

//BOTÃO DE DUVIDA
.botao-duvida{
    position: absolute;
    display: block;
    margin-left: 90%;
    margin-right: auto;
    margin-top:33px;
}

//ÍCONE NO BOTÃO DÚVIDA
.icone-duvida{
    width: 20px;
    height: 20px;
}

//FONTE GERAL NO CONTENT DO CARD DE AVALIAÇÃO
.font-card-avaliacao{
    font-size:17px;
}

// A PALAVRA MÊS NO CANTO SUPERIOR DIREITO DO CARD
.mes-card-atividade{
    text-align: end;
}

//FORMATAÇÃO DO TAMANHO ÍCONE NO CARD DE ATIVIDADES REALIZADAS
.icon-avalia{
    width:25px;
    height:25px;
}

// CONTADOR NO CARD AVALIAÇÃO
.contador-avaliacao{
    float: right;
}

//NÚMERO DE AVALIAÇÕES APLCADAS
.n-avaliacao{
    font-size:20px;
    font-weight:700;
}

//FORMATAÇÃO PARA O BOTÃO DE VER INICIAL (DESIGN)
.btn-ver-inicial{
    padding: 10px;
    background: #d6d6d698;
    border-radius: 5px;
    color: #FCB018;
    font-weight: 550;
    border: 2px solid;
    border-color: #FCB018;
}

//FORMATAÇÃO PARA O BOTÃO DE VER FOTO (DESIGN)
.btn-ver-foto{
    padding: 10px;
    background: #d6d6d698;
    border-radius: 5px;
    color: #72069B;
    font-weight: 550;
    border: 2px solid;
    border-color: #72069B;
}

//FORMATAÇÃO DE TAMANNHO E POSICIONAMENTO DO ÍCONE NO BOTÃO DE INICIAL - FOTO
.icon-btn-inicial-foto{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

//FORMATAÇÃO DA IMAGEM DE PERFIL DOS ALUNOS - POSICIONANDO NO CENTRO
.avatar-alunos{
    margin:0 auto;  
    background: #d6d6d698;
    border: 1px solid;
    border-color: #d6d6d698;
}

//FORMATAÇÃO DOS BAGDETS DE COMPORTAMENTO 
.pontua-comportamento{
    position:absolute;
    margin-left: 38px;
    margin-top: -8px;
    border-radius: 50%;
    background: #F5BD2C;
    border: 2px solid;
    color: #332E38;
    border-color: #332E38;
    width: 28px;
    height: 28px;
}

//FORMATAÇÃO DOS DADOS DO ALUNO
//Inicial
.letra-pesquisa{
    float:left; text-align:center; padding:8px 0 10px 20px;
    color:#72069B;
    font-size: 30px;
    font-weight: 550;
}
//Nome
.nome-aluno{
    color:#72069B;
    font-size: 19px;
    font-weight: 550;
}
//Sobrenome
.sobrenome-aluno{
    color: #332E38;
    font-size: 15px;
}
