<ion-header>
  <ion-toolbar color= "secondary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label class="titulo-pages bold" color="primary"> Bom dia Prof Caleb!</ion-label>

  <!-- AQUI VEM A DATA DO DIA DE HOJE -->

  <ion-card class="center atividade-title-card">
    <ion-card-header>
    <ion-card-title>
      <div class="formatacao-atividade-title-card">
          ATIVIDADES REALIZADAS
          <ion-buttons slot="end">
        <ion-button (click)="duvidaAvaliacao()">
          <ion-icon name="help-circle-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
      </div>
    </ion-card-title>
  </ion-card-header>
    <ion-card-content>
  </ion-card-content>
  </ion-card>
</ion-content>
 