<!-- PÁGINA HOME -->
<ion-header>
  <ion-toolbar color="light" mode="ios">
    <ion-button icon-only slot="start" class="profile-button" color="light" routerLink="/perfil" mode="ios">
      <ion-icon name="person" color="secondary"></ion-icon>
    </ion-button>
    <!-- EXIBINDO NOME DA SALA NO HEADER -->
    <ion-button icon-only slot="end" class="profile-button" color="light" routerLink="/salas" mode="ios">
      <ion-icon name="easel" color="secondary"></ion-icon>
    </ion-button>
    <ion-title class="center titulo-pages roxo">{{sala.nomeSala}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- EXIBINDO DATA DE HOJE -->
<ion-content>
  <div padding>
  <ion-label class="titulo-pages bold" color="secondary"> Bom dia Prof!</ion-label>
  <div class="mg-top-10">
    <ion-label class="titulo-pages light">
      {{dataHoje}}
    </ion-label>
  </div>


  <!-- CARD DE ATIVIDADES REALIZADAS -->
  <ion-card class="atividade-title-card">
    <ion-buttons slot="end">
      <ion-button (click)="duvidaAvaliacao()" class="botao-duvida">
        <ion-icon name="help-circle-outline" (click)="duvidaAvaliacao()" class="icone-duvida" color="primary">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-title>
        <div class="formatacao-atividade-title-card">
          ATIVIDADES REALIZADAS
        </div>
      </ion-card-title>
    </ion-card-header>
    <!-- ATIVIDADES REALIZADAS -->
    <ion-card-content class="no-margin">
      <p class="light cinza mes-card-atividade">mês</p>

      <!-- ABERTURA AO NOVO -->
      <p class="cinza font-card-avaliacao light">
        <ion-icon name="star-outline" color="primary" class="icon-avalia"></ion-icon>
        Abertura ao Novo
        <ion-label class="cinza font-card-avaliacao contador-avaliacao"><b class="roxo n-avaliacao">0</b> / 2
        </ion-label>
      </p>
    </ion-card-content>

    <!-- CAPACIDADE DE REALIZAÇÃO -->
    <ion-card-content>
      <p class="cinza font-card-avaliacao light">
        <ion-icon name="star-half" slot="start" color="primary" class="icon-avalia"></ion-icon>
        Capacidade de Realização
        <ion-label class="cinza font-card-avaliacao contador-avaliacao"><b class="roxo n-avaliacao">1</b> / 2
        </ion-label>
      </p>
    </ion-card-content>

    <!-- COLABORAÇÃO -->
    <ion-card-content>
      <p class="cinza font-card-avaliacao light">
          <ion-icon name="star-outline" slot="start" color="primary" class="icon-avalia"></ion-icon>
        Colaboração
        <ion-label class="cinza font-card-avaliacao contador-avaliacao"><b class="roxo n-avaliacao">0</b> / 2
        </ion-label>
      </p>
    </ion-card-content>

    <!-- ESTABILIDADE EMOCIONAL -->
    <ion-card-content>
      <div class="cinza font-card-avaliacao light">
        <ion-icon name="star-outline" slot="start" color="primary" class="icon-avalia"></ion-icon>
        Estabilidade emocional
        <ion-label class="cinza font-card-avaliacao contador-avaliacao"><b class="roxo n-avaliacao">0</b> / 2
        </ion-label>
      </div>
    </ion-card-content>

    <!-- EXTROVERSÃO -->
    <ion-card-content>
      <p class="cinza font-card-avaliacao light">
        <ion-icon name="star" slot="start" color="primary" class="icon-avalia"></ion-icon>
        Extroversão
        <ion-label class="cinza font-card-avaliacao contador-avaliacao"><b class="roxo n-avaliacao">2</b> / 2
        </ion-label>
      </p>
    </ion-card-content>
  </ion-card>
  </div>


  <!-- LISTA -->
  <div class="registrar-backgroung padding-left-right-10">
    <ion-label class="bold titulo-pages cinza">Registrar comportamentos:</ion-label>
  </div>
  <div padding>
  <!-- Caso não tenha nenhuma alunos salvos na sala -->
  <ion-list *ngIf="!alunos.length">
    <ion-item *ngFor="let item of [0, 1, 2, 3, 4]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
        </h3>
        <p></p>
        <p>
          <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- MODO FOTO DO ALUNO -->
  <div class="padding-left-right-10 mg-top-10" (click)="verFotoAluno()" *ngIf="inicial">
    <div class="btn-ver-foto center">
      <ion-icon name="happy" color="primary" class="icon-btn-inicial-foto mg-top--2"></ion-icon>
      VER FOTO DOS ALUNOS
    </div>
  </div>
  
  <!-- MODO LETRA INICIAL -->
  <div class="padding-left-right-10 mg-top-10" (click)="verInicialAluno()" *ngIf="picture">
    <div class="btn-ver-inicial center">
      <ion-label class="roxo bold ">@</ion-label>
      VER INICIAIS DOS ALUNOS
    </div>
  </div>
  <ion-list lines="full" class="no-margin">
    <!-- Caso tenha salas alunos -->
    <!-- Lista de alunos -->
    <ion-item *ngFor="let a of alunos" lines="full"   mode="md">
      <!-- BOTÃO COMPORTAMENTO EXEMPLAR -->
      <ion-thumbnail slot="start">
        <ion-badge color="primary" class="pontua-comportamento" (click)=comportamentoExemplar() *ngIf="exemplarBadge">
          <p class="no-margin mg-top-3">{{nE}} </p>
        </ion-badge>
        <img button src='/assets/comportamento/exemplar.png' (click)=comportamentoExemplar()>
      </ion-thumbnail>

      <ion-thumbnail (click)="comportamentoInadequado()" slot="end">
          <ion-badge color="primary" color="secondary" class="pontua-comportamento" (click)="comportamentoInadequado()" *ngIf="inadequadoBadge">
            <p class="no-margin mg-top-3">{{nI}}</p>
          </ion-badge>
          <img button src='/assets/comportamento/inadequado.png'>
        </ion-thumbnail>
      <ion-label>
        <!-- IMAGEM DE PERFIL DO ALUNO -->
          <ion-avatar class="avatar-alunos" slot="start">
            <h5 class="letra-pesquisa" [routerLink]="['/master/tabs/rx-aluno', a.id]" *ngIf="inicial">
              {{a.pesquisa}}
            </h5>
            <img [src]="a.picture" [routerLink]="['/master/tabs/rx-aluno', a.id]" *ngIf="picture">
          </ion-avatar>

        <!-- NOME DO ALUNO -->
        <h5 class="nome-aluno center" [routerLink]="['/master/tabs/rx-aluno', a.id]">
          {{a.nome}}
        </h5>
        <!-- SOBRENOME DO ALUNO -->
        <p class="sobrenome-aluno center" [routerLink]="['/master/tabs/rx-aluno', a.id]">
          {{a.sobrenome}}
        </p>
      </ion-label>
      <!-- BOTÃO COMPORTAMENTO INADEQUADO -->
      
    </ion-item>
  </ion-list>
</div>
</ion-content>