.titulo-sala{
    color:#FCB018;
    font-size: 25px;
    font-weight: 550;
}

//Subtítulo da Thumb
.subtitulo-sala{
    color: #682189;
    font-size: 20px;
}

.card-formata{
    width:100%;
}

.imagem-card-sala{
    height: 200px;
    width: 100%;
}
