<!-- PÁGINA DE AVALIAÇÃO -->
<ion-header>
    <ion-toolbar color="light" mode="ios" class="titulo-pages">
        <ion-button icon-only slot="start" color="light" routerLink="/perfil" mode="ios">
          <ion-icon name="person" color="secondary"></ion-icon>
        </ion-button>      
      <ion-title class="titulo-pages roxo">Avaliar</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- CONTEUDO -->
<ion-content padding>
  <!-- NOME DA ATIVIDADE SOCIOEMOCIONAL -->
  <ion-label class="bold titulo-pages" color="primary">Nome da atividade:</ion-label>
  <ion-item-divider>

    <!-- BOTAO DE DÚVIDA -->
    <ion-buttons slot="end">
      <ion-button (click)="duvidaNomeAtiv()">
        <ion-icon name="help-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input class="roxo" type="text" placeholder="Digite o nome da atividade" clearInput></ion-input>
  </ion-item-divider>
  <br>

  <!-- PILAR DAS ATIVIDADES SOCIOEMOCIONAL -->

  <ion-label class="bold mg-top-20 titulo-pages" color="primary">Escolha o pilar de avaliação:</ion-label>

  <!-- ICONES SOCIOEMOCIONAIS -->
  <ion-item mode="md" lines="none">
    <ion-slides pager class="customSlides" color="primary" no-padding>

      <!-- CAMARADA -->
      <ion-slide (click)="expandirCamarada()">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-content>
              <img src="assets/socioemocional/camarada.png" class="image center">
            </ion-card-content>
            <ion-card-title class="amarelo no-margin">CAMARADA</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <!-- INCANSÁVEL -->
      <ion-slide (click)="expandirIncansavel()">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-content>
              <img src="assets/socioemocional/incansavel.png" class="image">
            </ion-card-content>
            <ion-card-title class="amarelo">INCANSÁVEL</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <!-- LIDER -->
      <ion-slide (click)="expandirLider()">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-content>
              <img src="assets/socioemocional/lider.png" class="image">
            </ion-card-content>
            <ion-card-title class="amarelo">LÍDER</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <!-- ORIGINAL -->
      <ion-slide (click)="expandirOriginal()">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-content>
              <img src="assets/socioemocional/original.png" class="image">
            </ion-card-content>
            <ion-card-title class="amarelo">ORIGINAL</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <!-- ZEN -->
      <ion-slide (click)="expandirZen()">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-content>
              <img src="assets/socioemocional/zen.png" class="image">
            </ion-card-content>
            <ion-card-title class="amarelo">ZEN</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <!-- EXPANDIR CAMARADA -->
  <div *ngIf="camarada">
    <ion-item class="roxo" lines="none">
      <ion-buttons slot="end">
        <!-- BOTAO DE expand -->
        <ion-button *ngIf="duvidaTuto" (click)="expandirAvaliarTuto()">
          <ion-icon name="help"></ion-icon>
        </ion-button>

        <!-- BOTÃO RETRAIR -->
        <ion-button *ngIf="voltarTuto" (click)="retrairAvaliarTuto()">
          <ion-icon name="arrow-dropup"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-thumbnail class="thumb">
        <img src='/assets/socioemocional/camarada.png' class="image-thumb">
      </ion-thumbnail>
      <ion-label>
        <h5 class="titulo-thumb">CAMARADA</h5>
        <p class="subtitulo-thumb">
          Colaboração
        </p>
      </ion-label>
    </ion-item>
  </div>

  <!-- EXPANDIR INCANSÁVEL -->
  <div *ngIf="incansavel">
    <ion-item class="roxo" lines="none">
        <ion-buttons slot="end">
            <!-- BOTAO DE expand -->
            <ion-button *ngIf="duvidaTuto" (click)="expandirAvaliarTuto()">
              <ion-icon name="help"></ion-icon>
            </ion-button>
    
            <!-- BOTÃO RETRAIR -->
            <ion-button *ngIf="voltarTuto" (click)="retrairAvaliarTuto()">
              <ion-icon name="arrow-dropup"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-thumbnail class="thumb">
        <img src='/assets/socioemocional/incansavel.png' class="image-thumb">
      </ion-thumbnail>
      <ion-label>
        <h5 class="titulo-thumb">INCANSÁVEL</h5>
        <p class="subtitulo-thumb wrap">
          Capacidade de Realização
        </p>
      </ion-label>
    </ion-item>
  </div>

  <!-- EXPANDIR LÍDER -->
  <div *ngIf="lider">
    <ion-item class="roxo" lines="none">
        <ion-buttons slot="end">
            <!-- BOTAO DE expand -->
            <ion-button *ngIf="duvidaTuto" (click)="expandirAvaliarTuto()">
              <ion-icon name="help"></ion-icon>
            </ion-button>
    
            <!-- BOTÃO RETRAIR -->
            <ion-button *ngIf="voltarTuto" (click)="retrairAvaliarTuto()">
              <ion-icon name="arrow-dropup"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-thumbnail class="thumb">
        <img src='/assets/socioemocional/lider.png' class="image-thumb">
      </ion-thumbnail>
      <ion-label>
        <h5 class="titulo-thumb">LÍDER</h5>
        <p class="subtitulo-thumb">
          Extroversão
        </p>
      </ion-label>
    </ion-item>
  </div>

  <!-- EXPANDIR ORIGINAL -->
  <div *ngIf="original">
    <ion-item class="roxo" lines="none">
      <ion-buttons slot="end">
        <!-- BOTAO DE expand -->
        <ion-button *ngIf="duvidaTuto" (click)="expandirAvaliarTuto()">
          <ion-icon name="help"></ion-icon>
        </ion-button>

        <!-- BOTÃO RETRAIR -->
        <ion-button *ngIf="voltarTuto" (click)="retrairAvaliarTuto()">
          <ion-icon name="arrow-dropup"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-thumbnail class="thumb">
        <img src='/assets/socioemocional/original.png' class="image-thumb">
      </ion-thumbnail>
      <ion-label>
        <h5 class="titulo-thumb">ORIGINAL</h5>
        <p class="subtitulo-thumb wrap">
          Abertura ao Novo
        </p>
      </ion-label>
    </ion-item>
  </div>

  <!-- EXPANDIR ZEN -->
  <div *ngIf="zen">
    <ion-item class="roxo" lines="none">
      <ion-buttons slot="end">
          <!-- BOTAO DE expand -->
          <ion-button *ngIf="duvidaTuto" (click)="expandirAvaliarTuto()">
            <ion-icon name="help"></ion-icon>
          </ion-button>
  
          <!-- BOTÃO RETRAIR -->
          <ion-button *ngIf="voltarTuto" (click)="retrairAvaliarTuto()">
            <ion-icon name="arrow-dropup"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-thumbnail class="thumb">
        <img src='/assets/socioemocional/zen.png' class="image-thumb">
      </ion-thumbnail>
      <ion-label>
        <h5 class="titulo-thumb">ZEN</h5>
        <p class="subtitulo-thumb wrap">
          Estabilidade Emocional
        </p>
      </ion-label>
    </ion-item>
  </div>

  <!-- TUTORIAL SOCIOEMOCIONAL DE AVALIAÇÃO -->
  <div *ngIf="tuto">
    <!-- MUITO RUIM -->
    <ion-item lines="none">
      <ion-thumbnail>
        <img src='/assets/avaliacao/1.png' class="image-thumb">
      </ion-thumbnail>
      <ion-label>
        <div class="bad wrap">
          Conservador, apegado a saus ideias e regras, rotineiro e convencional
        </div>
      </ion-label>
    </ion-item>
    <!-- RUIM -->
    <ion-item lines="none">
      <ion-thumbnail>
        <img src='/assets/avaliacao/2.png' class="image-thumb">
      </ion-thumbnail>
    </ion-item>
    <!-- NORMAL -->
    <ion-item lines="none">
      <ion-thumbnail>
        <img src='/assets/avaliacao/3.png' class="image-thumb">
      </ion-thumbnail>
    </ion-item>
    <!-- BOM -->
    <ion-item lines="none">
      <ion-thumbnail>
        <img src='/assets/avaliacao/4.png' class="image-thumb">
      </ion-thumbnail>
    </ion-item>
    <!-- MUITO BOM -->
    <ion-item lines="none">
      <ion-thumbnail>
        <img src='/assets/avaliacao/5.png' class="image-thumb">
      </ion-thumbnail>
      <ion-label>
        <p class="top wrap">
          Criativo, curioso, inovador, <br />imaginativo, aceita outras ideias
        </p>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="aluninho">
    <!-- LISTA -->
    <ion-label class="bold titulo-pages" color="primary">Avalie sua turma</ion-label>

    <!-- Caso não tenha nenhuma alunos salvos na sala -->
    <ion-list *ngIf="!alunos.length">
      <ion-item *ngFor="let item of [0, 1, 2, 3, 4]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
          </h3>
          <p></p>
          <p>
            <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Caso tenha salas alunos -->
    <ion-list lines="none">
      <!-- Lista de alunos -->
      <ion-item *ngFor="let a of alunos" lines="nome" mode="md">
        <ion-label>
          <!-- IMAGEM DE PERFIL DO ALUNO -->
          <ion-avatar class="avatar-alunos">
            <img [src]="a.picture">
          </ion-avatar>
          <!-- NOME DO ALUNO -->
          <h5 class="nome-aluno">
            {{a.nome}}
          </h5>
          <p class="roxo">
            {{a.sobrenome}}
          </p>
        </ion-label>
        <ion-label class="avalia-label">
          <img src='/assets/avaliacao/1.png' class="image-avaliacao">
          <img src='/assets/avaliacao/2.png' class="image-avaliacao">
          <img src='/assets/avaliacao/3.png' class="image-avaliacao">
          <img src='/assets/avaliacao/4.png' class="image-avaliacao">
          <img src='/assets/avaliacao/5.png' class="image-avaliacao">
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="padding-left-right-20 mg-top-40">
      <div class="btn-salvar-avaliacao center">
        <ion-icon name="clipboard"></ion-icon>
        SALVAR AVALIAÇÃO
      </div>
    </div>
  </div>


  <!-- AINDA NÃO TEM NADA -->
  <div *ngIf="nothing" class="mg-top-3">
    <img src='/assets/nada/nothing-roxo.png' class="nothing-img">
    <h3 class="nothing-texto center">
      Ainda não há nenhum <b class="roxo">pilar de avaliação</b> selecionado!
    </h3>
  </div>
</ion-content>