<!-- Criando as tabs -->
<ion-tabs>
  <!-- Posicinando-as na parte inferior -->
  <ion-tab-bar slot="bottom">
    <!-- TAB1 -->
    <ion-tab-button tab="avaliar">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Avaliar</ion-label>
    </ion-tab-button>

    <!-- TAB2 -->
    <ion-tab-button tab="rx-aluno">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>RxAluno</ion-label>
      </ion-tab-button>

      <!-- TAB3 -->
    <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <!-- TAB4 -->
    <ion-tab-button tab="recursos">
        <ion-icon name="easel"></ion-icon>
        <ion-label>Recursos</ion-label>
      </ion-tab-button>

      <!-- TAB5 -->
    <ion-tab-button tab="perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>