<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <!-- VOLTANDO PRA PÁGINA PRINCIPAL -->
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Alunos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
        Ana Carolina
      </h5>
        <p class="sobrenome-aluno">
        Vale da Silva
        </p>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
       André
      </h5>
        <p class="sobrenome-aluno">
        Bontempi
        </p>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
        Beatriz
      </h5>
        <p class="sobrenome-aluno">
        Camargo Rocha
        </p>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
        Guilherme
      </h5>
        <p class="sobrenome-aluno">
        Marques da Silva
        </p>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
        Maria Eduarda
      </h5>
        <p class="sobrenome-aluno">
        Padovini Silva Leis
        </p>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
        Paula
      </h5>
        <p class="sobrenome-aluno">
        Assalim Toledo
        </p>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
        Ricardo
      </h5>
        <p class="sobrenome-aluno">
        Basttos Filho
        </p>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="'/master/tabs/rx-aluno'">
      <ion-label>
        <h5 class="nome-aluno">
        Roberto
      </h5>
        <p class="sobrenome-aluno">
        Marins Ferreira Bispo
        </p>
      </ion-label>
    </ion-item>

</ion-content>
