// Botão voltar para navegação 
.back-button{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top:20px;
    margin-left: 20px;
    color: #fafafa;
}

.nome-aluno{
    color:#FCB018;
    font-size: 18px;
    font-weight: 550;
}

//Subtítulo da Thumb
.sobrenome-aluno{
    color: #682189;
    font-size: 15px;
}

.nome-aluno{
    color:#FCB018;
    font-size: 18px;
    font-weight: 550;
}

//Subtítulo da Thumb
.sobrenome-aluno{
    color: #682189;
    font-size: 15px;
}