<!-- SPLASH SCREEN -->
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/icon/bolinha.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<!-- INITIAL PAGE -->
<ion-content class="swiper-no-swiping center">
  <!-- WALLPAPER -->
  <div class="wallpaper">
    <!-- DEGRADE -->
    <div class="color-degrade">
      <div class="overlay">
        <!-- LOGO  -->
        <div class="center padding-top-7-percent">
            <img src="../../../assets/icon/bolinha.png" class="logo-bolinha mg-top-70">
          </div>

                <!-- BOTÕES -->
          <!-- LOGIN -->
          <div class="padding-left-right-70 mg-top-40-pc">
            <ion-label class="snow">Já possui uma conta?</ion-label>
            <div class="btn-initial btn-goto-login-color mg-top-10 center bold">
              LOGIN
            </div>
          </div>

          <!-- CADASTRO -->
          <div class="padding-left-right-70 mg-top-40">
            <ion-label class="snow">É novo por aqui?</ion-label>
            <div class="btn-initial btn-goto-cadastro-color mg-top-10 center bold">
              CADASTRO
            </div>
          </div>
    </div>
  </div>
</div>
  </ion-content>



